@model DomainModel.User
<div id="management-panel"class="panel panel-primary">
    <div class="panel-heading" style="margin: 0">ورود به سیستم مدیریت</div>

    <div id="user-info">
        <fieldset>

            @using (@Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <p>نام کاربری @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })</p>
                <p>رمز عبور @Html.PasswordFor(u => u.Password, new { @class = "form-control" })</p>
                <input type="submit" value="ورود" class="btn btn-primary navbar-left" style="width: 150px" />

            }
        </fieldset>
    </div>

</div>